[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "VITE_SERVER_URL"

[[redirects]]
  from = "/product_pages/*"
  to = "/product_pages/index.html"
  status = 200
